<!DOCTYPE html>
<html>
  <head>
    <%- include(`../meta/header`) %> 
    <link rel="stylesheet" href="/css/expertViews.css">
    <title>GroupHub | Evalueringer</title>
  </head>
  <body>
    <%- include(`../meta/navbar`) %> 
    <div class="container">
      <h1>Evalueringer du har oprettet</h1>
    </div>
    <% data.evaluations.forEach(evaluation => { %>
      <div class="container">
        <br>
        <div class="row evaluation">

          <div class="col borderDashed">
            <p class="center"> <strong>Titel:</strong> </p>
            <p> <%= evaluation.title %> </p>
          </div>
          <div class="col borderDashed">
            <p class="center"><strong>Sektion:</strong>  
              <% if(Object.keys(data.evaluations[0]).length > 1 ) { %>
                <button class="btn btn-primary">
                  <a href="/view/section/<%= evaluation.idSection %>">Gå til den tilhørende sektion</a>
                </button>  
              <% }; %> 
            </p>
          </div>
          <div class="col borderDashed">
            <p class="center"><strong>Dokument:</strong>  
              <% if(Object.keys(data.evaluations[0]).length > 1 ) { %>
                <button class="btn btn-primary">
                  <a href="/view/sectionsAndEvaluations/document/<%= evaluation.idDocument %>">Gå til det tilhørende dokument</a>
                </button>
              <% }; %>
            </p>
          </div>
          <div class="col borderDashed">
            <p class="center"><strong>Evaluering:</strong>  
            <% if(Object.keys(data.evaluations[0]).length > 1 ) { %>
              <button class="btn btn-primary">
                <a href="<%=evaluation.idEvaluation%>">Gå til denne evaluering</a>
              </button>
            <% }; %>
          </div>

        </div>

      </div>
    <% }); %>
    <%- include(`../meta/footer`) %> 
  </body>
</html>