<!DOCTYPE html>
<html>
  <head>
    <%- include(`../meta/header`) %> 
    <script defer src="/js/view/viewSection.js"></script>
    <title>GroupHub | <%= data.section[0].title %> </title>
  </head>
  <body>
    <%- include(`../meta/navbar`) %> 
    <div class="container">
      <div class="row">
        <div class="col">
          <h1> <%= data.section[0].title %> </h1>
          <div class="textContent" >
            <%= data.section[0].content %> 
          </div>  
        </div>
        <div class="col" >
          <h1> Keywords </h1>
          <ul class="textContent">
            <% data.section[0].keywords.forEach((keyObj) => { %>
              <li><%= keyObj.keyword %></li>
              <% }); %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <button class="btn btn-primary">
            <a href="/view/sectionsAndEvaluations/document/<%= data.section[0].idDocument %>">Tilbage til oversigten</a>
          </button>
        </div>
        <div class="col">
          <button class="btn btn-success">
            <a href="/post/evaluation/section/<%= data.section[0].idSection %>"> Opret Evaluering til denne sektion </a>
          </button>
        </div>
        <div class="col" style="position: relative;">
          <button class="removeBtn btn btn-danger">
            <a onclick="deleteSection(`<%= data.section[0].idSection %>`,`<%= data.section[0].idDocument %>`)" >Slet Afsnit</a>
          </button>
        </div>
      </div>
    </div>
    <%- include(`../meta/footer`) %> 
  </body>
</html>