<!DOCTYPE html>
<html>
  <head>
    <%- include(`../meta/header`) %> 
    <link href="/css/design.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/viewEvaluation.css">
    <script src="/js/helperFunctions/insertHTMLElements.js"></script>
    <script defer src="/js/view/useEvaluation.js" ></script>
    <title>GroupHub | Evaluering</title>
    <script> const data = <%- JSON.stringify(data) %> </script>
  </head>
  <body>
    <%- include(`../meta/navbar`) %> 
    <!-- Evalueringen indeholder altid data, men det er kun hvis der findes mindst et spørgsmål til evalueringen at evalueringen vises. -->
    <% if(data.questions[0].question){ %>
      <div id="allQuestions" class="container">
        <% let questionCount = 1; %>
        <% data.questions.forEach((question, i) => { %>
          <div class="row">
            <div class="col questionDiv" idQuestion="<%= data.questions[i].idQuizQuestion %>">
              <h3 class="questionText"> <%= question.question %> </h3>
              <div>
                <% let answerCount = 1 %>
                <% question.answers.forEach(answer => { %>
                  <div class="row">
                    <div class="col">
                      <input id = <%= `question${questionCount}answer${answerCount++}` %> class ="correctAnswerCheckbox" type="checkbox">
                      <span class = "answer">  <%= answer %> </span>
                    </div>
                  </div>
                <% }); %>
              </div>
            </div>
            <% questionCount++ %>
          </div>
          <% }); %>
      </div>
      <button class="btn btn-primary" id="submitButton">Indsend!</button>
    <% } else { %>
      <div class="noContent">
        <h3>Denne evaluering er tom</h3>
      </div>
    <% } %> 
    <%- include(`../meta/footer`) %> 
  </body>
</html>