<!DOCTYPE html>
<html>
  <head>
    <%- include(`../meta/header`) %> 
    <title>GroupHub | New Group</title>
    <link rel="stylesheet" href="/css/design.css">
    <script src="/js/helperFunctions/insertHTMLElements.js"></script>
    <script src="/js/helperFunctions/createInputField.js"></script>
    <script defer src="/js/post/addAnotherMember.js"></script>
    <script defer src="/js/post/postGroup.js"></script>
  </head>
  <body>
    <%- include(`../meta/navbar`) %> 
    <div class="container" id="content" style="text-align: center; font-weight: bold;">
    <h1>Opret en ny gruppe</h1>
    <div id="formContainer">
      <label for="name">Gruppenavn</label><br>
      <input id="name" type="text" size="60%" placeholder="Gruppe navn"><br>

      <h6><strong>Tilføj andre medlemmer end <%= data.user[0].username %></strong></h6>
      <div id="membersContainer">
        <input class="medlemInput" type="hidden" value="<%= data.user[0].username %>">
      </div>
      <button class="btn btn-success" id="addAnotherMemberBtn">Tilføj endnu et gruppemedlem</button><br>
      
      <button class="btn btn-primary" id="submitBtn">Lav gruppen!</button>
    </div>
  </div>
    <%- include(`../meta/footer`) %> 
  </body>
</html>
