<!DOCTYPE html>
<html>
  <head>
    <%- include('meta/header') %> 
    <link href="css/design.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/elementlist.css">
    <script defer src="js/view-design.js"></script>
  </head>
  <body>
    <%- include('meta/navbar') %> 
    <div class="container" id="content">
      <div class="row">
          <nav>
            <button class="btn btn-info">
              <a href="/upload/evalueringer"> Upload </a>
            </button>
          </nav> 
      </div>
        <div class="row">
          <div class="col-12">
            <h1> EVALUERINGER </h1>
              <div class = "search_eval">
                <form action="/evalueringer" method="POST">
                    <label> Vælg det afsnit du ønsker at finde evalueringer til</label><br>
                    <input type="text" id="section" name="section"><br>
                    
                    <input type="submit">
                </form>
              </div>
          </div>
        </div>
        <div class="col-10">
          <button id="design-evalueringer"> Tryk for design </button><br>
          <img id="design-evalueringerPage">
        </div>
        <section>
          <div class="row">
            <div class="col">
              <div class="leftside">
                <div class="quizzes">
                  <h2> QUIZ </h2>
                  <% data.quizzes.forEach(element =>{ %>
                    <a href="/evalueringer/<%= element.elementtype %>/<%= element.idquiz %>"> 
                      <div class="card">
                      <div class="elementType<%= element.elementtype %>">title: <%= element.title %></div>
                      <div class="question"><%= element.question %></div>
                      </div>    
                    </a>
                  <% }) %>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="rightside">
                <div class="flashcards">
                  <h2> FLASHCARDS </h2>
                  <% data.flashcards.forEach(element =>{ %>
                    <a href="/evalueringer/<%= element.elementtype %>/<%= element.idflashcard %>"> 
                      <div class="card">
                      <div class="elementType<%= element.elementtype %>">Title: <%= element.title %></div>
                      <div class="notion">Begreb: <%= element.concept %></div>
                      </div>    
                    </a>
                  <% }) %>
                </div>
              </div>
            </div>
          </div>
        </section>
    </div>
    <%- include('meta/footer') %> 
  </body>
</html>