<!DOCTYPE html>
<html>
  <head>
    <%- include('meta/header') %> 
    <title>GroupHub | Groups</title>
  </head>
  <body>
    <%- include('meta/navbar') %> 
    <div class="content">
        <h1>Vælg dit grupperum</h1>
          <% if(data.group[0].name) { %>  
            <a href="/session/group/<%= data.group[0].idGroup %>">
              <h2><%= data.group[0].name %></h2>
            </a> 
            <p>Vi beklager at man indtil videre kun kan være en del af èn gruppe resten af evigheden eller lav en ny user</p>
          <% } else { %>
            <button class="btn btn-primary">
              <a href="/access/post/group">Opret Grupperum</a>
            </button>
          <% } %>
    </div>
    <%- include('meta/footer') %> 
  </body>
</html>
