<!DOCTYPE html>
<html>
  <head>
    <%- include('meta/header') %> 
    <link href="/css/design.css" rel="stylesheet">
    <title>GroupHub | Groups</title>
  </head>
  <body>
    <%- include('meta/navbar') %> 
    <div class="container" id="content">
      <div class="row">
          <div class="col-sm-12">
            <h1>Vælg dit grupperum</h1>
          </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <% if(data.group[0].name) { %>
            <a href="/session/group/<%= data.group[0].idGroup %>">
              <h2><%= data.group[0].name %></h2>
            </a> 
            <p>Vi beklager at man indtil videre kun kan være en del af en gruppe ad gangen</p>
            <% } else { %>
              <button>
                  <a href="/access/post/group">Opret Grupperum</a>
              </button>
            <% } %>
        </div>
      </div>
    </div>
    <%- include('meta/footer') %> 
  </body>
</html>
