<!DOCTYPE html>
<html>
    <head>
        <%- include('meta/header') %> 
        <title> GroupHub </title>
        <link href="/css/design.css" rel="stylesheet">
    </head>
    <body>
    <%- include('meta/navbar') %> 
    <div class="container" id="content">
      <div class="row">
        <div class="col">
          <div class="leftside">
            <h2> Documents </h2>
            <% data.documents.forEach((document) => { %>
              <p>
                <a href="view/section/document/<%= document.idDocument %>">
                  <strong><%= document.title %></strong>
                </a>
              </p>
            <% }); %>
          </div>
        </div>
        <div class="col">
          <%- include(`homeStatusBar`) %> 
        </div>
      </div>  
    </div>
    <div class='footer'>
      <%- include('meta/footer') %>
    </div> 
  </body>
</html>