<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="/css/home.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <%- include('meta/header') %> 
      <title> GroupHub </title>
    </head>
    <body>
    <%- include('meta/navbar') %> 
    <div class="container" id="content">
      <div class="row">
        <div class="col leftSide documents">
          <h2> <i class="fa fa-file"></i> Oprettede Dokumenter: </h2>
          <ul>
            <% data.documents.forEach((document) => { %>
              <li>
                <a href="view/sectionsAndEvaluations/document/<%= document.idDocument %>">
                  <strong><%= document.title %></strong>
                </a>
              </li>
            <% }); %>
          </ul>
          <button class="btn btn-info">
            <a href="/post/document"> Opret Nyt Dokument </a>
          </button>
        </div>
        <div class="col rightSide progressBar">
          <%- include(`homeProgressBar`) %>
        </div>
      </div>
      <div class="row">
        <div class="col leftSide unsusedEvaluations">
          <div class="unusedEvaluations"> 
            <h2><i class="fa fa-question"></i> Du har ikke taget følgende evalueringer endnu:</h2>
            <ul>
              <% data.evaluationsNotYetTaken.forEach((evaluation, i) => { %>
                <div class="row">
                  <li>
                    <div class="col">
                      <a href="/view/evaluations/<%= evaluation.ID_EVALUATION %> "><%= evaluation.EVALUATION_TITLE %></a>
                    </div>
                  </li>
                </div>
              <% }) %>
            </ul>
          </div>
        </div>
        <div class="col rightSide feed">
          <h2> <i class="fa fa-exclamation"></i> News Feed</h2>
            <!-- <a href="/view/spacedrepetition">der er opgaver til repetition</a> -->
            <% if (data.repetitionTask.length > 0 ) { %>
                <a href="/view/spacedrepetition">Der er <%= data.repetitionTask.length %> opgaver til repetition</a>
            <% } else { %>
              <p>Der er pt. ingen opgaver til repetetion</p>
            <% } %>
        </div>
      </div>
    </div>
    <%- include('meta/footer') %>
  </body>
</html>