<!DOCTYPE html>
<html>
    <head>
        <%- include('meta/header') %> 
        <title> GroupHub </title>
        <link href="/css/design.css" rel="stylesheet">
    </head>
    <body>
    <%- include('meta/navbar') %> 
    <div class="container" id="content">
      <div class="row">
        <div class="col">
          <div class="leftside">
            <h2> News Feed</h2>
            <!-- <a href="/view/spacedrepetition">der er opgaver til repetition</a> -->
            <% if (data.repetitionTask.length > 0 ) { %>
              <div>Der er opgaver til repetition</div>
             <% data.repetitionTask.forEach((repetitionTask, i) => { %>
              <a href="/view/spacedrepetition"><%= i %></a>
              <% });} %>
            <!-- <img id="newsfeed" src="img/Design/newsfeed.png"> -->
            <h2> Oprettede Dokumenter </h2>
            <% data.documents.forEach((document) => { %>
              <p>
                <a href="view/sections/document/<%= document.idDocument %>">
                  <strong><%= document.title %></strong>
                </a>
              </p>
            <% }); %>
            <button class="btn btn-info">
              <a href="/post/document"> Opret Dokument </a>
            </button>
          </div>
        </div>
        <div class="col">
          <%- include(`homeStatusBar`) %> 
        </div>
      </div>  
    </div>
    <div class='footer'>
      <%- include('meta/footer') %>
    </div> 
  </body>
</html>