<!DOCTYPE html>
<html>
  <head>
    <%- include('meta/header') %> 
    <title>GroupHub | New evaluation</title>
    <link rel="stylesheet" href="/css/design.css">
    <script src="/js/helperFunctions/insertHTMLElements.js"></script>
    <script src="/js/helperFunctions/createInputField.js"></script>
    <script defer src="/js/addKeywordEventListener.js"></script>
    <script defer src="/js/postEvaluation.js"></script>
  </head>
  <body>
    <%- include('meta/navbar') %> 
    <div class="container" id="content">
      <h1>Lav ny evaluering til <%= data.section[0].title %></h1>
      <!-- Posts via function when submitbutton is clicked -->
      <div id="evaluationForm" onsubmit="return false">
        <input type="hidden" id="selectSection" name="selectSection" form="evaluationForm" value="<%= data.section[0].idSection %>">
        <label for="evaluationTitle">Evaluation title:</label>
        <input type="text" id="evaluationTitle" name="evaluationTitle" placeholder="Title of evaluation"><br>
        <div id="allKeywordsContainer"></div>
        <button class="btn btn-success" id="addKeywordBtn">Tilføj nyt keyword</button>
        <button class="btn btn-primary" id="submitButton" type="submit">Opret evaluering</button>
      </div>
    </div>
    <%- include('meta/footer') %> 
  </body>
</html>
