<!DOCTYPE html>
<html>
  <head>
    <%- include('meta/header') %> 
    <title>GroupHub | New evaluation</title>
    <link rel="stylesheet" href="/css/design.css">
    <script src="/js/helperFunctions/insertHTMLElements.js"></script>
    <script src="/js/helperFunctions/createInputField.js"></script>
    <script defer src="/js/addKeywordEventListener.js"></script>
    <script defer src="/js/postEvaluation.js"></script>
  </head>
  <body>
    <%- include('meta/navbar') %> 
    <div class="container" id="content">
      <h1>Lav ny evaluering i <%= data.document[0].title %></h1>
      <!-- Posts via function when submitbutton is clicked -->
      <div id="evaluationForm" onsubmit="return false">
        <label for="evaluationTitle">Evaluation title:</label>

        <input type="text" id="evaluationTitle" name="evaluationTitle" placeholder="Title of evaluation"><br>
        <!-- Her skal der vælges en section ud fra en "drop down menu" eller lign.
          Alle section data er medsendt i data.section-->
        <label for="selectSection">Section:</label>
        <select id="selectSection" name="selectSection" form="evaluationForm">
          <% data.sections.forEach(section => { %>
            <option value="<%= section.idSection %>"><%= section.title %></option>
          <% }); %>
        </select><br>
        <div id="allKeywordsContainer"></div>
        <button id="addKeywordBtn">Tilføj nyt keyword</button>
        <input id="submitButton" type="submit">
      </div>
    </div>
    <%- include('meta/footer') %> 
  </body>
</html>
