<!DOCTYPE html>
<html>
  <head>
    <%- include('meta/header') %> 
    <title>GroupHub | New quiz</title>
    <link rel="stylesheet" href="/css/design.css">
  </head>
  <body>
    <%- include('meta/navbar') %> 
    <div class="container" id="content">
      <h1>Make a new quiz</h1>
      <form action="/post/quiz" method="POST" id="quizForm">
        <label for="quizTitle">Quiz title:</label>
        <input type="text" id="quizTitle" name="quizTitle" placeholder="Title of quiz" required><br>
        <!-- Her skal der vælges en section ud fra en "drop down menu" eller lign.
          Alle section data er medsendt i data.section-->
        <label for="selectSection">Section:</label>
        <select id="selectSection" name="selectSection" form="quizForm" required>
          <% data.sections.forEach(section => { %>
            <option value="<%= section.idSection %>"><%= section.title %></option>
          <% }); %>
        </select><br>
        <input type="submit">
      </form>
    </div>
    <%- include('meta/footer') %> 
  </body>
</html>
