<!DOCTYPE html>
<html>
  <head>
    <%- include('meta/header') %> 
    <title>GroupHub | New evaluation</title>
    <link rel="stylesheet" href="/css/design.css">
    <script src="/js/insertHTMLElements.js"></script>
    <script defer src="/js/postEvaluation.js"></script>
  </head>
  <body>
    <%- include('meta/navbar') %> 
    <div class="container" id="content">
      <h1>Make a new evaluation</h1>
      <!-- Posts via function when submitbutton is clicked -->
      <form id="evaluationForm" onsubmit="postEvaluation()">
        <label for="evaluationTitle">Evaluation title:</label>
        <input type="text" id="evaluationTitle" name="evaluationTitle" placeholder="Title of evaluation" required><br>
        <!-- Her skal der vælges en section ud fra en "drop down menu" eller lign.
          Alle section data er medsendt i data.section-->
        <label for="selectSection">Section:</label>
        <select id="selectSection" name="selectSection" form="evaluationForm" required>
          <% data.sections.forEach(section => { %>
            <option value="<%= section.idSection %>"><%= section.title %></option>
          <% }); %>
        </select><br>
        <button id="addKeywordButton">Add another keyword</button>
        <input id="submitButton" type="submit">
      </form>
    </div>
    <%- include('meta/footer') %> 
  </body>
</html>
