<!DOCTYPE html>
<html>
    <head>
        <%- include('meta/header') %> 
        <link href="css/design.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/elementlist.css">
    </head>
    <body>
        <%- include('meta/navbar') %> 

       
       <button class="getSection" id="section_id_77">Click here to get a very specific section, with the id: 77!</button>


        <div class="container" id="content">

            <div class="row">
                <div class="col-5">  
                    <nav>
                        <button class="btn btn-info">
                            <a href="/upload/rapport"> Upload </a>
                        </button>
                    </nav> 
                </div>
                <div class="col-12">
                    <h1> RAPPORT </h1>
                    <%- listOfAllReports %>
                </div>
            </div>
                <div class="col-10">
                    <button id="design-rapport"> Tryk for design </button><br>
                    <img id="design-rapportPage">
                </div>
            <section>
                <div class="row">
                    <% afsnit.forEach(result => { %>
                        <a href="/rapport/<%= result %>">
                            <img id="afsnit" src="img/Design/cardview1.png">
                        </a>
                    <% }); %>
                </div>
            </section>
        </div>
        <div class="col-12">
          <h1> RAPPORT </h1>
          <%- listea %>
        </div>
      </div>
        <div class="col-10">
          <button id="design-rapport"> Tryk for design </button><br>
          <img id="design-rapportPage">
        </div>
      <section>
        <div class="row">
          <% afsnit.forEach(result => { %>
            <a href="/rapport/<%= result %>">
              <img id="afsnit" src="img/Design/cardview1.png">
            </a>
          <% }); %>
        </div>
      </section>    
    </div>
    <%- include('meta/footer') %> 
  </body>
  <script src="js/view-design.js"></script>
</html>