<!DOCTYPE html>
<html>
    <head>
        <%- include('meta/header') %> 
        <link rel="stylesheet" href="/css/design.css">
        <title>GroupHub | Sections</title>
    </head>
    <body>
        <%- include('meta/navbar') %> 
        <p>
            <a href="/post/section">create a new section</a>
        </p>
        <ol>
            <% data.sections.forEach((section) => { %>
                <li>
                    <div>
                        <button class="btn btn-primary"><a class="goToSection" href="/view/section/<%= section.idSection %>">Click here to go to the section</a></button>
                        <p>Section ID: <%= section.idSection %> </p>
                        <strong>Title: </strong>     <%= section.title %> 
                        <p> <strong>Content:</strong> <%= section.content %> </p>
                        <p><strong>Keywords:</strong> <%= section.keywords %> </p>
                    </div> 
                </li>
                <% }); %> 
            </ol>
            
        <%- include('meta/footer') %> 
  </body>
  <script src="/js/view-design.js"></script>
</html>   