<!DOCTYPE html>
<html>
  <head>
    <%- include('meta/header') %> 
    <link href="/css/design.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/evaluation.css">
    <script src="/js/insertHTMLElements.js" ></script>
    <script defer src="/js/useEvaluation.js" ></script>
    <title>GroupHub | Evaluering</title>
  </head>
  <body>
    <%- include('meta/navbar') %> 
    <script> const data = <%- JSON.stringify(data) %> </script>
    <div id="allQuestions">
      <% let questionCount = 1; %>
      <% data.questions.forEach((question, i) => { %>
        <div class="questionDiv" idQuestion="<%= data.questions[i].idQuizQuestion %>">
          <h3 class="questionText"> <%= question.question %> </h3>
          <div>
            <% let answerCount = 1 %>
            <% question.answers.forEach(answer => { %>
              <input id = <%= `question${questionCount}answer${answerCount}` %> class ="correctAnswerCheckbox" type="checkbox">
              <p class = "answer" >  <%= answer %> </p>
              <% answerCount++ %>
            <% }); %>
          </div>
        </div>
        <% questionCount++ %>
      <% }); %>
    </div>
    <button id="submitButton">Submit!</button>
    <%- include('meta/footer') %> 
  </body>
</html>