<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/expertViews.css">
    <%- include('meta/header') %> 
    <title>GroupHub | Sections</title>
  </head>
  <body>
    <%- include('meta/navbar') %> 
    <div class="container">
      <h1>Afsnit du har oprettet</h1>
    </div>
    <div class="container">
      
      <% data.sections.forEach((section) => { %>
        <br>
        <div class="row section">
         
          <div class="col borderDashed">
            <p class="center"> <strong>Title: </strong> </p>
            <p class="center"><%= section.title %></p>
          </div>
          <div class="col borderDashed">
            <p class="center"><strong>Keywords:</strong> </p>
            <p> <%= section.keywords %> </p>
          </div>
          <div class="col borderDashed content">
            <p class="center"> <strong>Content:</strong> </p>
            <p> <%= section.content %> </p>
          </div>
          <div class="col borderDashed">
            <p class="center"><strong>Dokument:</strong>  
              <% if(Object.keys(data.sections[0]).length > 1 ) { %>
                <button class="btn btn-primary">
                  <a href="/view/sectionsAndEvaluations/document/<%= section.idDocument %>">Gå til dokumentet</a>
                </button>
              <% }; %>
            </p>
          </div>
          <div class="col borderDashed">
            <p class="center"><strong>Sektion:</strong>
            <% if(Object.keys(data.sections[0]).length > 1 ) { %>
              <button class="btn btn-primary">
                <a href="/view/section/<%= section.idSection %>">Gå til sektionen</a>
              </button>
            <% }; %>
            </p>
          </div>

        </div>
        <% }); %>         
  </div>
  <%- include('meta/footer') %> 
</body>
</html>   