<!DOCTYPE html>
<html>
  <head>
    <%- include('meta/header') %> 
    <link rel="stylesheet" href="/css/design.css">
    <title>GroupHub | <%= data.section[0].title %> </title>
  </head>
  <body>
    <%- include('meta/navbar') %> 
    <div class="container" id="content">
      <div class="row">
        <div class="col-6">
          <h1> <%= data.section[0].title %> </h1>
          <p> <%= data.section[0].content %> </p>
        </div>
        <div class="col-12">
          <a href="/view/sectionsAndEvaluations/document/<%= data.section[0].idDocument %>">
            Tilbage til oversigten
          </a>
        </div>
      </div>
    </div>
    <%- include('meta/footer') %> 
  </body>
</html>