<!DOCTYPE html>
<html>
  <head>
    <%- include('meta/header') %> 
    <link href="/css/design.css" rel="stylesheet">
    <title>GroupHub | Document </title>
  </head>
  <body>
    <%- include('meta/navbar') %> 
    <div class="container" id="content">
      <div class="row">
        <div class="col-6">
          <h2> <%= data.document[0].title %>s Afsnit </h2>
          <div class="leftside">  
            <br>
            <% data.sections.forEach((section, index) => { %>
              <br>
              <a href="/view/section/<%= section.idSection %>">
                <%= section.number %> <strong><%= section.title %></strong>
              </a>
              <p><%= section.teaser %></p>
              <p><strong>Evalueringer: </strong></p>
              <% data.evaluations.forEach((evaluation) => { %> 
                <% if(evaluation.idSection === section.idSection) { %>
                  <p>
                    <a href="/view/evaluations/<%=evaluation.idEvaluation %>">Se evalueringen: <%= evaluation.title %> </a>
                  </p>
                <% } %> 
              <% }); %> 
              <button class="btn btn-info">
                <a href="/post/evaluation/section/<%= section.idSection %>"> 
                  Opret Evaluering til <%= section.title %> 
                </a>
              </button>
              <br>
            <% }); %>
            <br>
            <button class="btn btn-info">
              <a href="/post/section/<%= data.document[0].idDocument %>"> Opret Afsnit til <%= data.document[0].title %> </a>
            </button>
          </div>
        </div>
        <div class="col-6">
          <div class="rightside">
            <h2> <%= data.document[0].title %>s Keywords </h2>
          </div>
        </div>
      </div>
    </div>
    <%- include('meta/footer') %> 
  </body>
</html>   