<!DOCTYPE html>
<html>
  <head>
    <%- include('meta/header') %> 
    <link href="/css/design.css" rel="stylesheet">
    <title>GroupHub | Evalueringer</title>
  </head>
  <body>
    <%- include('meta/navbar') %> 
    <div class="container" id="content">
      <div class="row">
        <nav>
            <a href="/post/evaluation">Opret Evaluation</a>
            <a href="/post/flashcard">Opret Flashcard</a>
        </nav> 
      </div>
      <div class="row">
        <div class="col-12">
          <h1> EVALUERINGER </h1>
          <div class = "search_eval">
            <form action="/evalueringer" method="POST">
              <label> Vælg det afsnit du ønsker at finde evalueringer til</label><br>
              <input type="text" id="section" name="section"><br>
              <input type="submit">
            </form>
          </div>
        </div>
      </div>
      <div class="col-10"></div>
      <section>
        <div class="row">
          <div class="col">
            <div class="leftside">
              <div class="evaluations">
                <h2> EVALUATIONS </h2>
                <% if (data.evaluations) { data.evaluations.forEach((element) =>{ %>
                  <a href="<%= element.idEvaluation %>"> 
                    <div class="card">
                      <div class="elementType<%= element.elementType %>"> <%= element.title %></div>
                      <div class="question"><%= element.question %></div>
                    </div>
                  </a>
                <% });} %>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <%- include('meta/footer') %> 
  </body>
</html>