<!DOCTYPE html>
<html>
    <head>
        <%- include('meta/header') %> 
        <link href="css/design.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/elementlist.css">
    </head>
    <body>
        <%- include('meta/navbar') %> 
        <div class="container" id="content">

            <div class="row">
                <div class="col-12">  
                    <nav>
                        <button class="btn btn-info">
                            <a href="/post/document"> Opret Dokument </a>
                        </button>
                    </nav> 
                </div>
                <div class="col-12">
                    <h1> <%= data.document.title %> </h1>
                </div>
                <div class="section_list">
                    <%  if(data.sections && data.sections.length > 0) { data.sections.forEach( (element) => { %>
                        <a href="/rapport/<%= element.iddocument_section %>" >
                            <div class="card">
                            <div class="elementType<%= element.elementType %>">title: <%= element.title %></div>
                            <div>keywords:</div>
                            <div class="sectinKeywords"><%= element.keywords %> </div>
                            <div class="sectionContent"><%= element.teaser %></div>
                            </div>    
                        </a>
                    <% })}; %> 
                </div>
            </div>
                <div class="col-10">
                </div>
            <section>
                <div class="row">
                    
                </div>
            </section>
        </div>
    <%- include('meta/footer') %> 
  </body>
</html>   