<!DOCTYPE html>
<html>
  <head>
    <%- include('meta/header') %> 
    <link rel="stylesheet" href="/css/design.css">
    <link rel="stylesheet" href="/css/viewEvaluationsRecipient.css">
    <title>GroupHub | Evalueringer</title>
  </head>
  <body>
    <%- include('meta/navbar') %> 

    <h1>Evalueringer du har oprettet</h1>
    <% data.evaluations.forEach(evaluation => { %>
      <div class="evaluationDiv container">
        <div class="row">
          <div class="col">
            <p class="evaluationTitle">
              <%= evaluation.title %>
            </p>
          </div>
          <div class="col">
            <p class="evaluationSection"><strong>Sektion:</strong> <%= evaluation.idEvaluation %></p>
          </div>
          <div class="col">
            <p class="evaluationSection"><strong>Dokument:</strong> <%= evaluation.idDocument %></p>
          </div>
          <div class="col">
            <a class="btn btn-primary" href="<%=evaluation.idEvaluation%>">Gå til denne evaluering</a>
          </div>
        </div>
      </div>
    <% }); %>

    <%- include('meta/footer') %> 
  </body>
</html>