<!DOCTYPE html>
<html>
    <head>
        <%- include(`../meta/header`) %> 
        <link href="/css/design.css" rel="stylesheet">
        <title>GroupHub | Evalueringer</title>
    </head>
    <body>
        <%- include(`../meta/navbar`) %> 
        <div class="container" id="content">    
            <h1> Afsnit: <%= data.section[0].section_number %></h1><br>
            <p> Keywords for afsnit: <%= data.section[0].keywords %> </p>
            <br>
                <div class = "row">
                    <div class="col">
                        <div class = "leftside"> 
                            <H2> EVALUERINGER FOR AFSNITTET</H2><br>
                            <% if(data.evaluations.length) { data.evaluations.forEach( (element) => { %>
                                <p> Titel: <%= element.title %></p>
                                <a href="/view/evaluation/<%= element.idEvaluation %>">
                                    <img id="evaluation_for_section" src="/img/Design/evaluation.png"><br>
                                </a>
                            <% })} %>
                            <% if(data.flashcards.length) { data.flashcards.forEach( (element) => { %>
                                <p><%= element.title %>  </p>
                                <a href="/view/flashcard/<%= element.idFlashcard %>">
                                    <img id="flashcard_for_section" src="/img/Design/flashcard.png">
                                </a>
                            <% })} %>
                        </div>
                    </div>
                    <div class = "col">
                        <div class="rightside">
                            <div class = "card">
                                <div>
                                    <h1><%= data.section[0].title %></h1>
                                    <%= data.section[0].content %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>    
        <%- include(`../meta/footer`) %> 
    </body>
</html>